<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Rent Prediction</title>
</head>

<body style="background-image: url('https://img.freepik.com/premium-photo/empty-living-room-with-blue-sofa-plants-table-empty-white-wall-background-3d-rendering_41470-1778.jpg?w=1000');">

    <h1>House Rent Prediction </h1>
    <form method="GET" action="/predict_charges">

        <label>Area:</label>
        <input type = "text" name = "area">
        </select>

        <br>
        <br>

        <input type = "submit" value="SUBMIT">

        <br>

        <h4><strong>Your House  Rent charges will be <b> {{ prediction }} /- Rs.</b> Only </strong></h4>


    </form>

</body>
</html>